<%= form_for(@database_record) do |f| %>
  <% if @database_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@database_record.errors.count, "error") %> prohibited this database_record from being saved:</h2>

      <ul>
      <% @database_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% tables_array = DatabaseTable.all.map { |table| ["#{table.database_scheme.name}.#{table.name}", table.id] } %>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :rows %><br />
    <%= f.number_field :rows %>
  </div>
  <div class="field">
    <%= f.label :tablesize %><br />
    <%= f.number_field :tablesize %>
  </div>
  <div class="field">
    <%= f.label :indexsize %><br />
    <%= f.number_field :indexsize %>
  </div>
  <div class="field">
    <%= f.label :database_table_name, 'Database Table' %>:
	<%= f.select :database_table_id, options_for_select(tables_array), :prompt => 'Select a table'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
