<h1>Listing database_records</h1>

<table>
  <tr>
    <th>Time</th>
    <th>Rows</th>
    <th>Tablesize</th>
    <th>Indexsize</th>
    <th>Database table</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @database_records.each do |database_record| %>
  <tr>
    <td><%= database_record.time %></td>
    <td><%= database_record.rows %></td>
    <td><%= database_record.tablesize %></td>
    <td><%= database_record.indexsize %></td>
    <td><%= "#{database_record.database_table.database_scheme.name}.#{database_record.database_table.name}" %></td>
    <td><%= link_to 'Show', database_record %></td>
    <td><%= link_to 'Edit', edit_database_record_path(database_record) %></td>
    <td><%= link_to 'Destroy', database_record, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Database record', new_database_record_path %>
