
	<div id= "pageTop">
	<div id="mainTitle">
	Flexible Accounting for Usage and System Tracking
	</div>
	<% if notice %>
		<p id="notice"><%= notice %></p> 
	<% end %>

	<% #if session[:user_id] != nil  %>
	<div id = "subTitle">	
		Sites publishing to this instance, records published
	</div>
	</div>
	<div id="pageMiddle">
	<div id="pageLeft">
	<table>
 	 <tr>
	    <th>Name</th>
	    <th>Status</th>
  	</tr>

	<% @sites.sort_by{|e| e[:name]}.each do |site| %>
	  <tr class="<%= cycle("odd", "even") %>">
  	  <td><%= link_to site.name, site %></td>
   	 <td>
   	 <div id="statusColumn">
   	 <div id="<%= @cloudStatusBySite[site.id]%>">cloud</div>
   	 <div id="<%= @apelStatusBySite[site.id]%>">grid</div>
   	 <div id="<%= @emiStorageStatusBySite[site.id]%>">storage</div>
   	 </div>
   	 </td>
  	</tr>
	<% end %>
	</table>
	</div>
 	</div>
<% #end %>
