<h2>Flexible Accounting for Usage and System Tracking</h2>

<% if notice %>
	<p id="notice"><%= notice %></p> 
<% end %>

<% #if session[:user_id] != nil  %>
	
<h3>Sites publishing to this instance, records published</h3>
<table>
<tr>
<td>
<table>
  <tr>
    <th>Name</th>
    <th>Cloud CPU</th>
    <th>Apel CPU</th>
    <th>Local Batch CPU</th>
    <th>Grid Storage</th>
  </tr>

<% @sites.sort_by{|e| e[:name]}.each do |site| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= link_to site.name, site %></td>
    <td><%= @cloudBySite[site.id] %></td>
    <td><%= @apelBySite[site.id] %></td>
    <td><%= @batchBySite[site.id] %></td>
    <td><%= @emiStorageBySite[site.name] %></td>
  </tr>

<% end %>
 </table>
 </td>
 <td>
	<iframe class="grafana" src="<%= Rails.configuration.grafanaUrl %>/#/dashboard/script/site-show.js?interactive=false&grid=true&cloud=true" width=800 height=700> 
 </td>
 </tr>
 </table>
<% #end %>
