<p id="notice"><%= notice %></p>

<p>
  <b>Recordidentity:</b>
  <%= @emi_storage_record.recordIdentity %>
</p>

<p>
  <b>Storagesystem:</b>
  <%= @emi_storage_record.storageSystem %>
</p>

<p>
  <b>Site:</b>
  <%= @emi_storage_record.site %>
</p>

<p>
  <b>Storageshare:</b>
  <%= @emi_storage_record.storageShare %>
</p>

<p>
  <b>Storagemedia:</b>
  <%= @emi_storage_record.storageMedia %>
</p>

<p>
  <b>Storageclass:</b>
  <%= @emi_storage_record.storageClass %>
</p>

<p>
  <b>Filecount:</b>
  <%= @emi_storage_record.fileCount %>
</p>

<p>
  <b>Directorypath:</b>
  <%= @emi_storage_record.directoryPath %>
</p>

<p>
  <b>Localuser:</b>
  <%= @emi_storage_record.localUser %>
</p>

<p>
  <b>Localgroup:</b>
  <%= @emi_storage_record.localGroup %>
</p>

<p>
  <b>Useridentity:</b>
  <%= @emi_storage_record.userIdentity %>
</p>

<p>
  <b>Group:</b>
  <%= @emi_storage_record.group %>
</p>

<p>
  <b>Groupattribute:</b>
  <%= @emi_storage_record.groupAttribute %>
</p>

<p>
  <b>Attributetype:</b>
  <%= @emi_storage_record.attributeType %>
</p>

<p>
  <b>Starttime:</b>
  <%= @emi_storage_record.startTime %>
</p>

<p>
  <b>Endtime:</b>
  <%= @emi_storage_record.endTime %>
</p>

<p>
  <b>Resourcecapacityused:</b>
  <%= @emi_storage_record.resourceCapacityUsed %>
</p>

<p>
  <b>Logicalcapacityused:</b>
  <%= @emi_storage_record.logicalCapacityUsed %>
</p>

<p>
  <b>Resourcecapacityallocated:</b>
  <%= @emi_storage_record.resourceCapacityAllocated %>
</p>


<%= link_to 'Edit', edit_emi_storage_record_path(@emi_storage_record) %> |
<%= link_to 'Back', emi_storage_records_path %>
