<h1>Resource type</h1>

<%= link_to 'New Resource type', new_resource_type_path %>

<table class="management">
  <tr>
    <th>Name<%= upArrowLink "name"%><%= downArrowLink "name" %></th>
    <th></th>
    <th></th>
  </tr>

<% @resource_types.each do |resource_type| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= link_to resource_type.name, resource_type %></td>
    <td><%= link_to 'Edit', edit_resource_type_path(resource_type) %></td>
    <td><%= link_to 'Destroy', resource_type, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


