<%= form_for(@database_table) do |f| %>
  <% if @database_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@database_table.errors.count, "error") %> prohibited this database_table from being saved:</h2>

      <ul>
      <% @database_table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% schemes_array = DatabaseScheme.all.map { |scheme| [scheme.name, scheme.id] } %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :publisher_name, 'Database scheme' %>:
	<%= f.select :database_scheme_id, options_for_select(schemes_array), :prompt => 'Select a scheme'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
