<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @database_table.name %>
</p>

<p>
  <b>Database scheme:</b>
  <%= @database_table.database_scheme_id %>
</p>


<%= link_to 'Edit', edit_database_table_path(@database_table) %> |
<%= link_to 'Back', database_tables_path %>
