<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @storage_summary_two.date %>
</p>

<p>
  <b>Publisher:</b>
  <%= @storage_summary_two.publisher_id %>
</p>

<p>
  <b>Site:</b>
  <%= @storage_summary_two.site %>
</p>

<p>
  <b>Storagesystem:</b>
  <%= @storage_summary_two.storageSystem %>
</p>

<p>
  <b>Group:</b>
  <%= @storage_summary_two.group %>
</p>

<p>
  <b>Resourcecapacityused:</b>
  <%= @storage_summary_two.resourceCapacityUsed %>
</p>

<p>
  <b>Logicalcapacityused:</b>
  <%= @storage_summary_two.logicalCapacityUsed %>
</p>

<p>
  <b>Storageclass:</b>
  <%= @storage_summary_two.storageClass %>
</p>


<%= link_to 'Edit', edit_storage_summary_two_path(@storage_summary_two) %> |
<%= link_to 'Back', storage_summary_twos_path %>
