<tr class="<%= cycle("odd", "even") %>">
    <td><%= if cpu_grid_norm_record.publisher then cpu_grid_norm_record.publisher.hostname end%></td>
    <td><%= cpu_grid_norm_record.localJobId %></td>
    <td><%= cpu_grid_norm_record.recordDate %></td>
    <td><%= cpu_grid_norm_record.localUserId %></td>
    <td><%= cpu_grid_norm_record.machineName %></td>
    <td><%= cpu_grid_norm_record.submitHost %></td>
    <td><%= cpu_grid_norm_record.nodeCount %></td>
    <td><%= cpu_grid_norm_record.processors %></td>
    <td><%= cpu_grid_norm_record.cpuDuration %></td>
    <td><%= cpu_grid_norm_record.wallDuration %></td>
    <td><%= cpu_grid_norm_record.memoryReal %></td>
    <td><%= cpu_grid_norm_record.memoryVirtual %></td>
    <td><%= cpu_grid_norm_record.globalUserName %></td>
    <td><%= cpu_grid_norm_record.fqan %></td>
    <td><%= cpu_grid_norm_record.vo %></td>
    <td><%= cpu_grid_norm_record.voGroup %></td>
    <td><%= cpu_grid_norm_record.voRole %></td>
    <td><%= if cpu_grid_norm_record.benchmark_value then cpu_grid_norm_record.benchmark_value.value end%></td>
    <td><%= link_to 'Show', cpu_grid_norm_record %></td>
  </tr>