<%= form_for(@cpu_grid_norm_record) do |f| %>
  <% if @cpu_grid_norm_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpu_grid_norm_record.errors.count, "error") %> prohibited this cpu_grid_norm_record from being saved:</h2>

      <ul>
      <% @cpu_grid_norm_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :publisher_id %><br />
    <%= f.number_field :publisher_id %>
  </div>
  <div class="field">
    <%= f.label :lrmsId %><br />
    <%= f.text_field :lrmsId %>
  </div>
  <div class="field">
    <%= f.label :recordDate %><br />
    <%= f.datetime_select :recordDate %>
  </div>
  <div class="field">
    <%= f.label :localUser %><br />
    <%= f.text_field :localUser %>
  </div>
  <div class="field">
    <%= f.label :execHost %><br />
    <%= f.text_field :execHost %>
  </div>
  <div class="field">
    <%= f.label :nodect %><br />
    <%= f.number_field :nodect %>
  </div>
  <div class="field">
    <%= f.label :nodes %><br />
    <%= f.number_field :nodes %>
  </div>
  <div class="field">
    <%= f.label :cput %><br />
    <%= f.number_field :cput %>
  </div>
  <div class="field">
    <%= f.label :wallt %><br />
    <%= f.number_field :wallt %>
  </div>
  <div class="field">
    <%= f.label :pmem %><br />
    <%= f.number_field :pmem %>
  </div>
  <div class="field">
    <%= f.label :vmem %><br />
    <%= f.number_field :vmem %>
  </div>
  <div class="field">
    <%= f.label :userDN %><br />
    <%= f.text_field :userDN %>
  </div>
  <div class="field">
    <%= f.label :FQAN %><br />
    <%= f.text_field :FQAN %>
  </div>
  <div class="field">
    <%= f.label :benchmark_value_id %><br />
    <%= f.number_field :benchmark_value_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
