<H3>Grid Records</H3>

<div id = "sidemenu">
<ul>
<li><%= link_to 'Record list', cpu_grid_norm_records_url%></li>
</ul>
</div>

<div id = "sidesearch">
<%= form_tag(search_cpu_grid_norm_records_path, :method => 'get' ) do %>
  <% CpuGridNormRecord.attrSearchable.each do |item| %>
	<div class="field">
    	<p><%= item %>:</p>
    	<%= search_field_tag (item, params[item]) %>
  	</div>
  <% end %>
  <div>
  <p></p>
  <%= submit_tag("Search...") %>
  </div>
<% end %>
</div>
