<p id="notice"><%= notice %></p>

<p>
  <b>Publisher:</b>
  <%= @cpu_grid_norm_record.publisher_id %>
</p>

<p>
  <b>Lrmsid:</b>
  <%= @cpu_grid_norm_record.lrmsId %>
</p>

<p>
  <b>Recorddate:</b>
  <%= @cpu_grid_norm_record.recordDate %>
</p>

<p>
  <b>Localuser:</b>
  <%= @cpu_grid_norm_record.localUser %>
</p>

<p>
  <b>Exechost:</b>
  <%= @cpu_grid_norm_record.execHost %>
</p>

<p>
  <b>Nodect:</b>
  <%= @cpu_grid_norm_record.nodect %>
</p>

<p>
  <b>Nodes:</b>
  <%= @cpu_grid_norm_record.nodes %>
</p>

<p>
  <b>Cput:</b>
  <%= @cpu_grid_norm_record.cput %>
</p>

<p>
  <b>Wallt:</b>
  <%= @cpu_grid_norm_record.wallt %>
</p>

<p>
  <b>Pmem:</b>
  <%= @cpu_grid_norm_record.pmem %>
</p>

<p>
  <b>Vmem:</b>
  <%= @cpu_grid_norm_record.vmem %>
</p>

<p>
  <b>Userdn:</b>
  <%= @cpu_grid_norm_record.userDN %>
</p>

<p>
  <b>Fqan:</b>
  <%= @cpu_grid_norm_record.FQAN %>
</p>

<p>
  <b>Benchmark value:</b>
  <%= @cpu_grid_norm_record.benchmark_value_id %>
</p>


<%= link_to 'Edit', edit_cpu_grid_norm_record_path(@cpu_grid_norm_record) %> |
<%= link_to 'Back', cpu_grid_norm_records_path %>
