<h1>Listing database_schemes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Publisher</th>
    <th>DB backend</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @database_schemes.each do |database_scheme| %>
  <tr>
    <td><%= database_scheme.name %></td>
    <td><%= database_scheme.publisher.hostname %></td>
    <td><%= database_scheme.database_descr.backend %></td>
    <td><%= link_to 'Show', database_scheme %></td>
    <td><%= link_to 'Edit', edit_database_scheme_path(database_scheme) %></td>
    <td><%= link_to 'Destroy', database_scheme, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Database scheme', new_database_scheme_path %>
