<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @database_scheme.name %>
</p>

<p>
  <b>Publisher:</b>
  <%= @database_scheme.publisher_id %>
</p>


<%= link_to 'Edit', edit_database_scheme_path(@database_scheme) %> |
<%= link_to 'Back', database_schemes_path %>
