<h1>Listing torque_queue_records</h1>

<table>
  <tr>
    <th>Uniqueid</th>
    <th>Publisher</th>
    <th>Resource</th>
    <th>Site</th>
    <th>Recorddate</th>
    <th>Lrmsid</th>
    <th>Queue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @torque_queue_records.each do |torque_queue_record| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= torque_queue_record.uniqueId %></td>
    <td><%= torque_queue_record.publisher.hostname %></td>
    <td><%= torque_queue_record.resource.name %></td>
    <td><%= torque_queue_record.site.name %></td>
    <td><%= torque_queue_record.recordDate %></td>
    <td><%= torque_queue_record.lrmsId %></td>
    <td><%= torque_queue_record.queue %></td>
    <td><%= link_to 'Show', torque_queue_record %></td>
    <td><%= link_to 'Edit', edit_torque_queue_record_path(torque_queue_record) %></td>
    <td><%= link_to 'Destroy', torque_queue_record, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Torque queue record', new_torque_queue_record_path %>
