<p id="notice"><%= notice %></p>

<p>
  <b>Uniqueid:</b>
  <%= @torque_queue_record.uniqueId %>
</p>

<p>
  <b>Recorddate:</b>
  <%= @torque_queue_record.recordDate %>
</p>

<p>
  <b>Lrmsid:</b>
  <%= @torque_queue_record.lrmsId %>
</p>

<p>
  <b>Queue:</b>
  <%= @torque_queue_record.queue %>
</p>


<%= link_to 'Edit', edit_torque_queue_record_path(@torque_queue_record) %> |
<%= link_to 'Back', torque_queue_records_path %>
