<%= form_for(@benchmark_value) do |f| %>
  <% if @benchmark_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@benchmark_value.errors.count, "error") %> prohibited this benchmark_value from being saved:</h2>

      <ul>
      <% @benchmark_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% publishers_array = Publisher.orderByParms('hostname',params).all.map { |publisher| [publisher.hostname, publisher.id] } %>
  <% benchmarkTypes_array = BenchmarkType.all.map { |type| [type.name, type.id] } %>

  <div class="field">
    <%= f.label :benchmark_type_name, 'Benchmark type' %>:
	<%= f.select :benchmark_type_id, options_for_select(benchmarkTypes_array,@benchmark_value.benchmark_type_id), :prompt => 'Select a benchmark type'%>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :publisher_name, 'Publisher' %>:
	<%= f.select :publisher_id, options_for_select(publishers_array,@benchmark_value.publisher_id), :prompt => 'Select a publisher'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
