<h1>Benchmark Values</h1>

<%= link_to 'New Benchmark value', new_benchmark_value_path %>

<table>
  <tr>
  	<th>Date</th>
    <th>Publisher</th>
    <th>Benchmark type</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @benchmark_values.sort_by{|e| e[:date]}.each do |benchmark_value| %>
  <tr class="<%= cycle("odd", "even") %>">
  	<td><%= benchmark_value.date %></td>
    <td><%= benchmark_value.publisher.hostname %></td>
    <td><%= benchmark_value.benchmark_type.name %></td>
    <td><%= benchmark_value.value %></td>
    <td><%= link_to 'Show', benchmark_value %></td>
    <td><%= link_to 'Edit', edit_benchmark_value_path(benchmark_value) %></td>
    <td><%= link_to 'Destroy', benchmark_value, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= will_paginate @benchmark_values %></p>