<h1>Benchmark Values</h1>

<%= link_to 'New Benchmark value', new_benchmark_value_path %>

<table>
  <tr>
  	<th>Date<%= upArrowLink "date"%><%= downArrowLink "date" %></th>
    <th>Publisher<%= upArrowLink "publishers_hostname"%><%= downArrowLink "publishers_hostname" %></th>
    <th>Benchmark type<%= upArrowLink "benchmark_types_name"%><%= downArrowLink "benchmark_types_name" %></th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<% @benchmark_values.each do |benchmark_value| %>
  <tr class="<%= cycle("odd", "even") %>">
  	<td><%= benchmark_value.date %></td>
    <td><%= benchmark_value.publishers_hostname %></td>
    <td><%= benchmark_value.benchmark_types_name %></td>
    <td><%= benchmark_value.value %></td>
    <td><%= link_to 'Show', benchmark_value %></td>
    <td><%= link_to 'Edit', edit_benchmark_value_path(benchmark_value) %></td>
    <td><%= link_to 'Destroy', benchmark_value, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @benchmark_values %>

<br />
