<h1>Listing dgas_grid_cpu_records</h1>

<table>
  <tr>
    <th>Uniquechecksum</th>
    <th>Dgjobid</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Resource</th>
    <th>Globalusername</th>
    <th>Fqan</th>
    <th>Uservo</th>
    <th>Cputime</th>
    <th>Walltime</th>
    <th>Pmem</th>
    <th>Vmem</th>
    <th>Ibench</th>
    <th>Ibenchtype</th>
    <th>Fbench</th>
    <th>Fbenchtype</th>
    <th>Lrmsid</th>
    <th>Local user</th>
    <th>Local group</th>
    <th>Ursource</th>
    <th>Accountingprocedure</th>
    <th>Voorigin</th>
    <th>Executingnodes</th>
    <th>Numnodes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dgas_grid_cpu_records.each do |dgas_grid_cpu_record| %>
  <tr>
    <td class="main_field" ><%= dgas_grid_cpu_record.uniqueChecksum %></td>
    <td class="field" ><%= dgas_grid_cpu_record.dgJobId %></td>
    <td class="field" ><%= dgas_grid_cpu_record.startDate %></td>
    <td class="field" ><%= dgas_grid_cpu_record.endDate %></td>
    <td class="field" ><%= dgas_grid_cpu_record.resource.name if dgas_grid_cpu_record.resource%></td>
    <td class="field" ><%= dgas_grid_cpu_record.globaluserName %></td>
    <td class="field" ><%= dgas_grid_cpu_record.FQAN %></td>
    <td class="field" ><%= dgas_grid_cpu_record.userVO %></td>
    <td class="field" ><%= dgas_grid_cpu_record.cpuTime %></td>
    <td class="field" ><%= dgas_grid_cpu_record.wallTime %></td>
    <td class="field" ><%= dgas_grid_cpu_record.pmem %></td>
    <td class="field" ><%= dgas_grid_cpu_record.vmem %></td>
    <td class="field" ><%= dgas_grid_cpu_record.iBench %></td>
    <td class="field" ><%= dgas_grid_cpu_record.iBenchType %></td>
    <td class="field" ><%= dgas_grid_cpu_record.fBench %></td>
    <td class="field" ><%= dgas_grid_cpu_record.fBenchType %></td>
    <td class="field" ><%= dgas_grid_cpu_record.lrmsID %></td>
    <td class="field" ><%= dgas_grid_cpu_record.local_user %></td>
    <td class="field" ><%= dgas_grid_cpu_record.local_group %></td>
    <td class="field" ><%= dgas_grid_cpu_record.urSource %></td>
    <td class="field" ><%= dgas_grid_cpu_record.accountingProcedure %></td>
    <td class="field" ><%= dgas_grid_cpu_record.voOrigin %></td>
    <td class="field" ><%= dgas_grid_cpu_record.executingNodes %></td>
    <td class="field" ><%= dgas_grid_cpu_record.numNodes %></td>
    <td class="field" ><%= link_to 'Show', dgas_grid_cpu_record %></td>
    <td class="field" ><%= link_to 'Edit', edit_dgas_grid_cpu_record_path(dgas_grid_cpu_record) %></td>
    <td class="field" ><%= link_to 'Destroy', dgas_grid_cpu_record, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dgas grid cpu record', new_dgas_grid_cpu_record_path %>
