<p id="notice"><%= notice %></p>

<p>
  <b>Uniquechecksum:</b>
  <%= @dgas_grid_cpu_record.uniqueChecksum %>
</p>

<p>
  <b>Dgjobid:</b>
  <%= @dgas_grid_cpu_record.dgJobId %>
</p>

<p>
  <b>Startdate:</b>
  <%= @dgas_grid_cpu_record.startDate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @dgas_grid_cpu_record.endDate %>
</p>

<p>
  <b>Resource:</b>
  <%= @dgas_grid_cpu_record.resource_id %>
</p>

<p>
  <b>Globalusername:</b>
  <%= @dgas_grid_cpu_record.globaluserName %>
</p>

<p>
  <b>Fqan:</b>
  <%= @dgas_grid_cpu_record.FQAN %>
</p>

<p>
  <b>Uservo:</b>
  <%= @dgas_grid_cpu_record.userVO %>
</p>

<p>
  <b>Cputime:</b>
  <%= @dgas_grid_cpu_record.cpuTime %>
</p>

<p>
  <b>Walltime:</b>
  <%= @dgas_grid_cpu_record.wallTime %>
</p>

<p>
  <b>Pmem:</b>
  <%= @dgas_grid_cpu_record.pmem %>
</p>

<p>
  <b>Vmem:</b>
  <%= @dgas_grid_cpu_record.vmem %>
</p>

<p>
  <b>Ibenchtype:</b>
  <%= @dgas_grid_cpu_record.iBenchType %>
</p>

<p>
  <b>Fbench:</b>
  <%= @dgas_grid_cpu_record.fBench %>
</p>

<p>
  <b>Fbenchtype:</b>
  <%= @dgas_grid_cpu_record.fBenchType %>
</p>

<p>
  <b>Lrmsid:</b>
  <%= @dgas_grid_cpu_record.lrmsID %>
</p>

<p>
  <b>Local user:</b>
  <%= @dgas_grid_cpu_record.local_user %>
</p>

<p>
  <b>Local group:</b>
  <%= @dgas_grid_cpu_record.local_group %>
</p>

<p>
  <b>Ursource:</b>
  <%= @dgas_grid_cpu_record.urSource %>
</p>

<p>
  <b>Voorigin:</b>
  <%= @dgas_grid_cpu_record.voOrigin %>
</p>

<p>
  <b>Executingnodes:</b>
  <%= @dgas_grid_cpu_record.executingNodes %>
</p>

<p>
  <b>Numnodes:</b>
  <%= @dgas_grid_cpu_record.numNodes %>
</p>


<%= link_to 'Edit', edit_dgas_grid_cpu_record_path(@dgas_grid_cpu_record) %> |
<%= link_to 'Back', dgas_grid_cpu_records_path %>
