<tr>
    <td><%= cpu_grid_summary.date %></td>
    <td><%= if cpu_grid_summary.site then cpu_grid_summary.site.name end%></td>
    <td><%= if cpu_grid_summary.publisher then cpu_grid_summary.publisher.hostname end%></td>
    <td><%= cpu_grid_summary.userDN %></td>
    <td><%= cpu_grid_summary.vo %></td>
    <td><%= cpu_grid_summary.FQAN %></td>
    <td><%= cpu_grid_summary.records %></td>
    <td><%= cpu_grid_summary.cput %></td>
    <td><%= cpu_grid_summary.wallt %></td>
    <td><%= cpu_grid_summary.benchmark_value %></td>
    <td><%= if cpu_grid_summary.benchmark_type then cpu_grid_summary.benchmark_type.name end%></td>
    <td><%= link_to 'Show', cpu_grid_summary %></td>    
  </tr>