<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @cloud_view_vm_summary.date %>
</p>

<p>
  <b>Vmuuid:</b>
  <%= @cloud_view_vm_summary.VMUUID %>
</p>

<p>
  <b>Localvmid:</b>
  <%= @cloud_view_vm_summary.localVMID %>
</p>

<p>
  <b>Publisher:</b>
  <%= @cloud_view_vm_summary.publisher_id %>
</p>

<p>
  <b>Local group:</b>
  <%= @cloud_view_vm_summary.local_group %>
</p>

<p>
  <b>Local user:</b>
  <%= @cloud_view_vm_summary.local_user %>
</p>

<p>
  <b>Status:</b>
  <%= @cloud_view_vm_summary.status %>
</p>

<p>
  <b>Diskimage:</b>
  <%= @cloud_view_vm_summary.diskImage %>
</p>

<p>
  <b>Cloudtype:</b>
  <%= @cloud_view_vm_summary.cloudType %>
</p>

<p>
  <b>Disk:</b>
  <%= @cloud_view_vm_summary.disk %>
</p>

<p>
  <b>Wallduration:</b>
  <%= @cloud_view_vm_summary.wallDuration %>
</p>

<p>
  <b>Cpuduration:</b>
  <%= @cloud_view_vm_summary.cpuDuration %>
</p>

<p>
  <b>Networkinbound:</b>
  <%= @cloud_view_vm_summary.networkInbound %>
</p>

<p>
  <b>Networkoutbound:</b>
  <%= @cloud_view_vm_summary.networkOutbound %>
</p>

<p>
  <b>Memory:</b>
  <%= @cloud_view_vm_summary.memory %>
</p>

<p>
  <b>Cpucount:</b>
  <%= @cloud_view_vm_summary.cpuCount %>
</p>


<%= link_to 'Back', cloud_view_vm_summaries_path %>
