<%= form_for(@storage_summary) do |f| %>
  <% if @storage_summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@storage_summary.errors.count, "error") %> prohibited this storage_summary from being saved:</h2>

      <ul>
      <% @storage_summary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :publisher_id %><br />
    <%= f.text_field :publisher_id %>
  </div>
  <div class="field">
    <%= f.label :site %><br />
    <%= f.text_field :site %>
  </div>
  <div class="field">
    <%= f.label :storageSystem %><br />
    <%= f.text_field :storageSystem %>
  </div>
  <div class="field">
    <%= f.label :group %><br />
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <%= f.label :resourceCapacityUsed %><br />
    <%= f.number_field :resourceCapacityUsed %>
  </div>
  <div class="field">
    <%= f.label :logicalCapacityUsed %><br />
    <%= f.number_field :logicalCapacityUsed %>
  </div>
  <div class="field">
    <%= f.label :storageShare %><br />
    <%= f.text_field :storageShare %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
