 <tr class="<%= cycle("odd", "even") %>">
    <td><%= cloud_record_summary.date %></td>
    <td><%= cloud_record_summary.site.name %></td>
    <td><%= cloud_record_summary.local_group %></td>
    <td><%= cloud_record_summary.local_user %></td>
    <td><%= cloud_record_summary.vmCount %></td>
    <td><%= cloud_record_summary.status %></td>
    <td><%= cloud_record_summary.wallDuration %></td>
    <td><%= cloud_record_summary.cpuDuration %></td>
    <td><%= cloud_record_summary.networkInbound %></td>
    <td><%= cloud_record_summary.networkOutbound %></td>
    <td><%= cloud_record_summary.cpuCount %></td>
    <td><%= cloud_record_summary.memory %></td>
  </tr>
