<%= form_for(@cloud_record_summary) do |f| %>
  <% if @cloud_record_summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cloud_record_summary.errors.count, "error") %> prohibited this cloud_record_summary from being saved:</h2>

      <ul>
      <% @cloud_record_summary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :site_id %><br />
    <%= f.number_field :site_id %>
  </div>
  <div class="field">
    <%= f.label :local_group %><br />
    <%= f.text_field :local_group %>
  </div>
  <div class="field">
    <%= f.label :local_user %><br />
    <%= f.text_field :local_user %>
  </div>
  <div class="field">
    <%= f.label :vmCount %><br />
    <%= f.number_field :vmCount %>
  </div>
  <div class="field">
    <%= f.label :wallDuration %><br />
    <%= f.number_field :wallDuration %>
  </div>
  <div class="field">
    <%= f.label :networkInBound %><br />
    <%= f.number_field :networkInBound %>
  </div>
  <div class="field">
    <%= f.label :networkOutBound %><br />
    <%= f.number_field :networkOutBound %>
  </div>
  <div class="field">
    <%= f.label :cpuCount %><br />
    <%= f.number_field :cpuCount %>
  </div>
  <div class="field">
    <%= f.label :memory %><br />
    <%= f.number_field :memory %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
