<p id="notice"><%= notice %></p>

<p>
  <b>Uniqueid:</b>
  <%= @batch_execute_record.uniqueId %>
</p>

<p>
  <b>Recorddate:</b>
  <%= @batch_execute_record.recordDate %>
</p>

<p>
  <b>Lrmsid:</b>
  <%= @batch_execute_record.lrmsId %>
</p>

<p>
  <b>User:</b>
  <%= @batch_execute_record.localUser %>
</p>

<p>
  <b>Group:</b>
  <%= @batch_execute_record.localGroup %>
</p>

<p>
  <b>Jobname:</b>
  <%= @batch_execute_record.jobName %>
</p>

<p>
  <b>Queue:</b>
  <%= @batch_execute_record.queue %>
</p>

<p>
  <b>Ctime:</b>
  <%= @batch_execute_record.ctime %>
</p>

<p>
  <b>Qtime:</b>
  <%= @batch_execute_record.qtime %>
</p>

<p>
  <b>Etime:</b>
  <%= @batch_execute_record.etime %>
</p>

<p>
  <b>Start:</b>
  <%= @batch_execute_record.start %>
</p>

<p>
  <b>Exechost:</b>
  <%= @batch_execute_record.execHost %>
</p>

<p>
  <b>Resourcelist nodect:</b>
  <%= @batch_execute_record.resourceList_nodect %>
</p>

<p>
  <b>Resourcelist nodes:</b>
  <%= @batch_execute_record.resourceList_nodes %>
</p>

<p>
  <b>Resourcelist_walltime:</b>
  <%= @batch_execute_record.resourceList_walltime %>
</p>

<p>
  <b>Session:</b>
  <%= @batch_execute_record.session %>
</p>

<p>
  <b>End:</b>
  <%= @batch_execute_record.end %>
</p>

<p>
  <b>Exitstatus:</b>
  <%= @batch_execute_record.exitStatus %>
</p>

<p>
  <b>Resourceused cput:</b>
  <%= @batch_execute_record.resourceUsed_cput %>
</p>

<p>
  <b>Resourceused mem:</b>
  <%= @batch_execute_record.resourceUsed_mem %>
</p>

<p>
  <b>Resourceused vmem:</b>
  <%= @batch_execute_record.resourceUsed_vmem %>
</p>

<p>
  <b>Resourceused walltime:</b>
  <%= @batch_execute_record.resourceUsed_walltime %>
</p>


<%= link_to 'Edit', edit_batch_execute_record_path(@batch_execute_record) %> |
<%= link_to 'Batch records', batch_execute_records_path %> |
<%= link_to 'Grid CPU records', grid_cpu_records_path %>
