<h1>Publishers</h1>

<%= link_to 'New Publisher', new_publisher_path %>

<table class="management">
  <tr>
    <th>Hostname<%= upArrowLink "publisher_hostname"%><%= downArrowLink "publisher_hostname" %></th>
    <th>Ip<%= upArrowLink "publisher_ip"%><%= downArrowLink "publisher_ip" %></th>
    <th>Token</th>
    <th>Resource<%= upArrowLink "resource_name"%><%= downArrowLink "resource_name" %></th>
    <th>Site<%= upArrowLink "site_name"%><%= downArrowLink "site_name" %></th>
    <th></th>
    <th></th>
  </tr>

<% @publishers.each do |publisher| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= link_to publisher.publisher_hostname, publisher_path(publisher.publisher_id) %></td>
    <td><%= publisher.publisher_ip %></td>
    <td><%= publisher.publisher_token %></td>
    <td><%= publisher.resource_name %></td>
    <td><%= publisher.site_name %></td>
    <td><%= link_to 'Edit', edit_publisher_path(publisher.publisher_id) %></td>
    <td><%= link_to 'Destroy', publisher_path(publisher.publisher_id), :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


