<h1>Publishers</h1>

<%= link_to 'New Publisher', new_publisher_path %>

<table class="management">
  <tr>
    <th>Hostname</th>
    <th>Ip</th>
    <th>Token</th>
    <th>Resource</th>
    <th>Site</th>
    <th></th>
    <th></th>
  </tr>

<% @publishers.sort_by{|e| e[:hostname]}.each do |publisher| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= link_to publisher.hostname, publisher %></td>
    <td><%= publisher.ip %></td>
    <td><%= publisher.token %></td>
    <td><%= publisher.resource.name %></td>
    <td><%= publisher.site.name %></td>
    <td><%= link_to 'Edit', edit_publisher_path(publisher) %></td>
    <td><%= link_to 'Destroy', publisher, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= will_paginate @benchmark_values %></p>


