<p id="notice"><%= notice %></p>

<p>
  <b>Hostname:</b>
  <%= @publisher.hostname %>
</p>

<p>
  <b>Ip:</b>
  <%= @publisher.ip %>
</p>

<p>
  <b>Resource:</b>
  <%= @publisher.resource.name %>
</p>

<p>
  <b>Site:</b>
  <%= @publisher.site.name %>
</p>

<p>
  <b>Token (API-KEY):</b>
  <%= @publisher.token %>
</p>


<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
