<h1>Listing storage_summary_ones</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Publisher</th>
    <th>Site</th>
    <th>Storagesystem</th>
    <th>Resourcecapacityallocated</th>
    <th>Resourcecapacityused</th>
    <th>Logicalcapacityused</th>
    <th>Storageclass</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @storage_summary_ones.each do |storage_summary_one| %>
  <tr>
    <td><%= storage_summary_one.date %></td>
    <td><%= storage_summary_one.publisher_id %></td>
    <td><%= storage_summary_one.site %></td>
    <td><%= storage_summary_one.storageSystem %></td>
    <td><%= storage_summary_one.resourceCapacityAllocated %></td>
    <td><%= storage_summary_one.resourceCapacityUsed %></td>
    <td><%= storage_summary_one.logicalCapacityUsed %></td>
    <td><%= storage_summary_one.storageClass %></td>
    <td><%= link_to 'Show', storage_summary_one %></td>
    <td><%= link_to 'Edit', edit_storage_summary_one_path(storage_summary_one) %></td>
    <td><%= link_to 'Destroy', storage_summary_one, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Storage summary one', new_storage_summary_one_path %>
