<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @storage_summary_one.date %>
</p>

<p>
  <b>Publisher:</b>
  <%= @storage_summary_one.publisher_id %>
</p>

<p>
  <b>Site:</b>
  <%= @storage_summary_one.site %>
</p>

<p>
  <b>Storagesystem:</b>
  <%= @storage_summary_one.storageSystem %>
</p>

<p>
  <b>Resourcecapacityallocated:</b>
  <%= @storage_summary_one.resourceCapacityAllocated %>
</p>

<p>
  <b>Resourcecapacityused:</b>
  <%= @storage_summary_one.resourceCapacityUsed %>
</p>

<p>
  <b>Logicalcapacityused:</b>
  <%= @storage_summary_one.logicalCapacityUsed %>
</p>

<p>
  <b>Storageclass:</b>
  <%= @storage_summary_one.storageClass %>
</p>


<%= link_to 'Edit', edit_storage_summary_one_path(@storage_summary_one) %> |
<%= link_to 'Back', storage_summary_ones_path %>
