<h1>Resource management</h1>

<% if notice %>
	<p id="notice"><%= notice %></p> 
<% end %>
<p>
	<%= link_to 'Publishers', publishers_url%><br>
	<%= link_to 'Resurces', resources_url%><br>
	<%= link_to 'Resource types', resource_types_url%><br>
	<%= link_to 'Sites', sites_url%><br>
</p>

