<H3>Cloud Records</H3>

<div id = "sidemenu">
<ul>
<li><%= link_to 'Record list', cloud_records_url%></li>
<li><%= link_to 'Record summaries', cloud_record_summaries_url%></li>
</ul>
</div>

<%= form_tag(search_cloud_records_path ) do %>
  <% CloudRecord.attrSearchable.each do |item| %>
	<div class="field">
    	<%= item %>:
    	<%= text_field_tag item %>
  	</div>
  <% end %>
  <div class="field">
    	doGraph:
   		<%= text_field_tag "doGraph" %>
  </div>
  <%= submit_tag("Search...") %>
<% end %>
