<% if params[:doGraph] == "1" %>
<table>
	<tbody>
<tr>
	<td>
		<div id='chartCpu'></div>
		<%= render_chart(@chartCpu, 'chartCpu') %>
	</td>
</tr>
<tr>
	<td>
		<div id='chartNet'></div>
		<%= render_chart(@chartNet, 'chartNet') %>
	</td>
</tr>
</tbody>
</table>
<% end%>

<table>
<%= render "table_header" %>

<%= render(@cloud_records)%>
</table>

<br />

<p><%= will_paginate @cloud_records %></p>

