<h1>Cloud record statistics</h1>
<br>
<table>
<tbody>
<tr>
<td>Number of records<br>
</td>
<td>total wall<br>
</td>
<td >Earliest record<br>
</td>
<td >Latest record<br>
</td>
</tr>
<tr>
<td ><%= @stats[:records_count] %><br>
</td>
<td ><%= @stats[:sum_wall] %><br>
</td>
<td ><%= @stats[:earliest_record] %><br>
</td>
<td ><%= @stats[:latest_record] %><br>
</td>
</tr>
</tbody>
</table>

<div id='chartB'></div>
<%= render_chart(@chartB, 'chartB') %>

<table>
  <tr>
    <th>date</th>
    <th>count</th>
    <th>wall</th>
  </tr>

<% @results.each do |record| %>
  <tr>
    <td class="main_field"><%= record.ordered_date %></td>
    <td class="field"><%= record.count %></td>
    <td class="field"><%= record.sum_wall %></td>
  </tr>
<% end %>
</table>
<p><%= link_to 'Record list', cloud_records_url%></p>
<br>
