<h1>Cloud record statistics</h1>
<br>
<table>
	<tbody>
		<tr>
			<td>Number of records
			<br>
			</td>
			<td>total wall
			<br>
			</td>
			<td >Latest record
			<br>
			</td>
		</tr>
		<tr>
			<td ><%= @stats[:records_count] %>
			<br>
			</td>
			<td ><%= @stats[:earliest_record] %>
			<br>
			</td>
			<td ><%= @stats[:latest_record] %>
			<br>
			</td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<tr>
			<td><div id='chart'></div> <%= render_chart(@chart, 'chart') %> </td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<tr>
			<td><%= link_to 'Record list', cloud_records_url%></td>
			<td><%= link_to 'Record summaries', cloud_record_summaries_url%></td>
		</tr>
	</tbody>
</table>
<br>
