<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% sites_array = Site.orderByParms('name',params).all.map { |site| [site.name, site.id] } %>
  <% resource_types_array = ResourceType.all.map { |resource_type| [resource_type.name, resource_type.id] } %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div>
	<%= f.label :site_name, 'Site' %>:
	<%= f.select :site_id, options_for_select(sites_array,@resource.site_id), :prompt => 'Select a site'%>		
  </div>
  <div>
	<%= f.label :resource_type_name, 'Resource Type' %>:
	<%= f.select :resource_type_id, options_for_select(resource_types_array,@resource.resource_type_id), :prompt => 'Select a resource type'%>		
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
