<h1>Resources</h1>

<%= link_to 'New Resource', new_resource_path %>

<table class="management">
  <tr>
    <th>Name</th>
    <th>Site</th>
    <th>Resource type</th>
    <th></th>
    <th></th>
  </tr>

<% @resources.sort_by{|e| e[:name]}.each do |resource| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td class="main_field"><%= link_to resource.name, resource %></td>
    <td><%= resource.site.name %></td>
    <td><%= resource.resource_type.name %></td>
    <td class="list_actions"><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td class="list_actions"><%= link_to 'Destroy', resource, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


