<p id="notice"><%= notice %></p>

<p class="resource_name" >
  <b>Name:</b>
  <%= @resource.name %>
</p>

<p class="resource_description" >
  <b>Description:</b>
  <%= @resource.description %>
</p>

<p class="site_name">
  <b>Site:</b>
  <%= @site.name %>
</p>

<p class="resource_type_name" >
  <b>Resource type:</b>
  <%= @resource_type.name %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
