<h1>Listing torque_dispatch_records</h1>

<table>
  <tr>
    <th>Uniqueid</th>
    <th>Recorddate</th>
    <th>Lrmsid</th>
    <th>Requestor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @torque_dispatch_records.each do |torque_dispatch_record| %>
  <tr>
    <td><%= torque_dispatch_record.uniqueId %></td>
    <td><%= torque_dispatch_record.recordDate %></td>
    <td><%= torque_dispatch_record.lrmsId %></td>
    <td><%= torque_dispatch_record.requestor %></td>
    <td><%= link_to 'Show', torque_dispatch_record %></td>
    <td><%= link_to 'Edit', edit_torque_dispatch_record_path(torque_dispatch_record) %></td>
    <td><%= link_to 'Destroy', torque_dispatch_record, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Torque dispatch record', new_torque_dispatch_record_path %>
