<h1>Listing local_cpu_summaries</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Publisher</th>
    <th>Totalrecords</th>
    <th>Totalcput</th>
    <th>Totalwallt</th>
    <th>Normalisedcput</th>
    <th>Normalisedwallt</th>
    <th>Localuser</th>
    <th>Localgroup</th>
    <th>Queue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @local_cpu_summaries.each do |local_cpu_summary| %>
  <tr>
    <td><%= local_cpu_summary.date %></td>
    <td><%= local_cpu_summary.publisher_id %></td>
    <td><%= local_cpu_summary.totalRecords %></td>
    <td><%= local_cpu_summary.totalCpuT %></td>
    <td><%= local_cpu_summary.totalWallT %></td>
    <td><%= local_cpu_summary.normalisedCpuT %></td>
    <td><%= local_cpu_summary.normalisedWallT %></td>
    <td><%= local_cpu_summary.localUser %></td>
    <td><%= local_cpu_summary.localGroup %></td>
    <td><%= local_cpu_summary.queue %></td>
    <td><%= link_to 'Show', local_cpu_summary %></td>
    <td><%= link_to 'Edit', edit_local_cpu_summary_path(local_cpu_summary) %></td>
    <td><%= link_to 'Destroy', local_cpu_summary, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= will_paginate @grid_cpu_records %></p>
