<tr class="<%= cycle("odd", "even") %>">
  	<td><%= link_to "#{grid_cpu_record.blah_record.jobId}", grid_cpu_record.blah_record %></td>
    <td><%= link_to "#{grid_cpu_record.batch_execute_record.lrmsId}", grid_cpu_record.batch_execute_record %></td>
    <td><%= grid_cpu_record.blah_record.recordDate %></td>
    <td><%= grid_cpu_record.batch_execute_record.recordDate %></td>
    <td><%= grid_cpu_record.blah_record.userDN %></td>
    <td><%= grid_cpu_record.blah_record.userFQAN %></td>
    <td><%= grid_cpu_record.batch_execute_record.site.name %></td>
    <td><%= grid_cpu_record.batch_execute_record.resourceUsed_cput %></td>
    <td><%= grid_cpu_record.batch_execute_record.resourceUsed_walltime %></td>
</tr>