<h1>Grid CPU records</h1>

<table>
  <tr>
    <th>GridId</th>
    <th>LrmsId</th>
    <th>submitted</th>
    <th>ended</th>	
    <th>userDN</th>
    <th>userFQAN</th>
    <th>siteName</th>
    <th>cpuTime</th>
    <th>wallTime</th>
  </tr>

<% @grid_cpu_records.each do |grid_cpu_record| %>
  <tr class="<%= cycle("odd", "even") %>">
  	<td><%= link_to "#{grid_cpu_record.blah_record.jobId}", grid_cpu_record.blah_record %></td>
    <td><%= link_to "#{grid_cpu_record.batch_execute_record.lrmsId}", grid_cpu_record.batch_execute_record %></td>
    <td><%= grid_cpu_record.blah_record.recordDate %></td>
    <td><%= grid_cpu_record.batch_execute_record.recordDate %></td>
    <td><%= grid_cpu_record.blah_record.userDN %></td>
    <td><%= grid_cpu_record.blah_record.userFQAN %></td>
    <td><%= grid_cpu_record.batch_execute_record.site.name %></td>
    <td><%= grid_cpu_record.batch_execute_record.resourceUsed_cput %></td>
    <td><%= grid_cpu_record.batch_execute_record.resourceUsed_walltime %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= will_paginate @grid_cpu_records %></p>
