<p id="notice"><%= notice %></p>

<p>
  <b>Batch execute record:</b>
  <%= @grid_cpu_record.batch_execute_record_id %>
</p>

<p>
  <b>Blah record:</b>
  <%= @grid_cpu_record.blah_record_id %>
</p>


<%= link_to 'Edit', edit_grid_cpu_record_path(@grid_cpu_record) %> |
<%= link_to 'Back', grid_cpu_records_path %>
