<tr class="<%= cycle("odd", "even") %>">
    <td><%= link_to "#{cpu_grid_id.batch_execute_record.lrmsId}", cpu_grid_id %></td>
    <td><%= cpu_grid_id.publisher.hostname %></td>
    <td><%= cpu_grid_id.site.name %></td>
    <td><%= cpu_grid_id.blah_record.recordDate %></td>
    <td><%= cpu_grid_id.batch_execute_record.recordDate %></td>
    <td><%= cpu_grid_id.blah_record.userDN %></td>
    <td><%= cpu_grid_id.blah_record.userFQAN %></td>
    <td><%= cpu_grid_id.batch_execute_record.localUser %></td>
    <td><%= cpu_grid_id.batch_execute_record.resourceUsed_cput %></td>
    <td><%= cpu_grid_id.batch_execute_record.resourceUsed_walltime %></td>   
</tr>