<h1>Benchmark type</h1>

<table class="management">
  <tr>
    <th>Name<%= upArrowLink "name"%><%= downArrowLink "name" %></th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @benchmark_types.each do |benchmark_type| %>
  <tr>
    <td><%= link_to benchmark_type.name, benchmark_type_path(benchmark_type.id) %></td>
    <td><%= benchmark_type.description %></td>
    <td><%= link_to 'Edit', edit_benchmark_type_path(benchmark_type) %></td>
    <td><%= link_to 'Destroy', benchmark_type, :method => :delete, :data => { :confirm => 'Are you sure? Associated benchmark values will be deleted too.' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Benchmark type', new_benchmark_type_path %>
