<p id="notice"><%= notice %></p>

<p>
  <b>Backend:</b>
  <%= @database_descr.backend %>
</p>

<p>
  <b>Backendversion:</b>
  <%= @database_descr.backendVersion %>
</p>

<p>
  <b>Database scheme:</b>
  <%= @database_descr.database_scheme_id %>
</p>


<%= link_to 'Edit', edit_database_descr_path(@database_descr) %> |
<%= link_to 'Back', database_descrs_path %>
