<p id="notice"><%= notice %></p>

<p>
  <b>Publisher:</b>
  <%= @apel_ssm_record.publisher_id %>
</p>

<p>
  <b>Recorddate:</b>
  <%= @apel_ssm_record.recordDate %>
</p>

<p>
  <b>Submithost:</b>
  <%= @apel_ssm_record.submitHost %>
</p>

<p>
  <b>Machinename:</b>
  <%= @apel_ssm_record.machineName %>
</p>

<p>
  <b>Queue:</b>
  <%= @apel_ssm_record.queue %>
</p>

<p>
  <b>Localjobid:</b>
  <%= @apel_ssm_record.localJobId %>
</p>

<p>
  <b>Localuserid:</b>
  <%= @apel_ssm_record.localUserId %>
</p>

<p>
  <b>Globalusername:</b>
  <%= @apel_ssm_record.globalUserName %>
</p>

<p>
  <b>Fqan:</b>
  <%= @apel_ssm_record.fqan %>
</p>

<p>
  <b>Vo:</b>
  <%= @apel_ssm_record.vo %>
</p>

<p>
  <b>Vogroup:</b>
  <%= @apel_ssm_record.voGroup %>
</p>

<p>
  <b>Vorole:</b>
  <%= @apel_ssm_record.voRole %>
</p>

<p>
  <b>Wallduration:</b>
  <%= @apel_ssm_record.wallDuration %>
</p>

<p>
  <b>Cpuduration:</b>
  <%= @apel_ssm_record.cpuDuration %>
</p>

<p>
  <b>Processors:</b>
  <%= @apel_ssm_record.processors %>
</p>

<p>
  <b>Nodecount:</b>
  <%= @apel_ssm_record.nodeCount %>
</p>

<p>
  <b>Starttime:</b>
  <%= @apel_ssm_record.startTime %>
</p>

<p>
  <b>Endtime:</b>
  <%= @apel_ssm_record.endTime %>
</p>

<p>
  <b>Infrastructuredescription:</b>
  <%= @apel_ssm_record.infrastructureDescription %>
</p>

<p>
  <b>Infrastructuretype:</b>
  <%= @apel_ssm_record.infrastructureType %>
</p>

<p>
  <b>Memoryreal:</b>
  <%= @apel_ssm_record.memoryReal %>
</p>

<p>
  <b>Memoryvirtual:</b>
  <%= @apel_ssm_record.memoryVirtual %>
</p>


<%= link_to 'Edit', edit_apel_ssm_record_path(@apel_ssm_record) %> |
<%= link_to 'Back', apel_ssm_records_path %>
