<p id="notice"><%= notice %></p>

<p>
  <b>Record date:</b>
  <%= @database_record_summary.record_date %>
</p>

<p>
  <b>Table name:</b>
  <%= @database_record_summary.table_name %>
</p>

<p>
  <b>Scheme name:</b>
  <%= @database_record_summary.scheme_name %>
</p>

<p>
  <b>Rows:</b>
  <%= @database_record_summary.rows %>
</p>

<p>
  <b>Tablesize:</b>
  <%= @database_record_summary.tablesize %>
</p>

<p>
  <b>Indexsize:</b>
  <%= @database_record_summary.indexsize %>
</p>

<p>
  <b>Publisher:</b>
  <%= @database_record_summary.publisher_id %>
</p>

<p>
  <b>Database descr:</b>
  <%= @database_record_summary.database_descr_id %>
</p>


<%= link_to 'Edit', edit_database_record_summary_path(@database_record_summary) %> |
<%= link_to 'Back', database_record_summaries_path %>
