<h1>Listing grid_pledges</h1>

<table>
  <tr>
    <th>Site</th>
    <th>Validfrom</th>
    <th>Validto</th>
    <th>Value</th>
    <th>Logicalcpu</th>
    <th>Physicalcpu</th>
    <th>Benchmark type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grid_pledges.each do |grid_pledge| %>
  <tr>
    <td><%= grid_pledge.site_id %></td>
    <td><%= grid_pledge.validFrom %></td>
    <td><%= grid_pledge.validTo %></td>
    <td><%= grid_pledge.value %></td>
    <td><%= grid_pledge.logicalCPU %></td>
    <td><%= grid_pledge.physicalCPU %></td>
    <td><%= grid_pledge.benchmark_type_id %></td>
    <td><%= link_to 'Show', grid_pledge %></td>
    <td><%= link_to 'Edit', edit_grid_pledge_path(grid_pledge) %></td>
    <td><%= link_to 'Destroy', grid_pledge, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grid pledge', new_grid_pledge_path %>
