<p id="notice"><%= notice %></p>

<p>
  <b>Site:</b>
  <%= @grid_pledge.site_id %>
</p>

<p>
  <b>Vo:</b>
  <%= @grid_pledge.vo %>
</p>

<p>
  <b>Validfrom:</b>
  <%= @grid_pledge.validFrom %>
</p>

<p>
  <b>Validto:</b>
  <%= @grid_pledge.validTo %>
</p>

<p>
  <b>Value:</b>
  <%= @grid_pledge.value %>
</p>

<p>
  <b>Logicalcpu:</b>
  <%= @grid_pledge.logicalCPU %>
</p>

<p>
  <b>Physicalcpu:</b>
  <%= @grid_pledge.physicalCPU %>
</p>

<p>
  <b>Benchmark type:</b>
  <%= @grid_pledge.benchmark_type_id %>
</p>


<%= link_to 'Edit', edit_grid_pledge_path(@grid_pledge) %> |
<%= link_to 'Back', grid_pledges_path %>
