<h1>Sites</h1>

<%= link_to 'New Site', new_site_path %>

<table class="management">
  <tr>
    <th>Name</th>
    <th>Cloud Records</th>
    <th>Grid CPU Records</th>
    <th>Batch CPU Records</th>
    <th>Grid Storage Records</th>
    <th></th>
    <th></th>
  </tr>

<% @sites.sort_by{|e| e[:name]}.each do |site| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= link_to site.name, site %></td>
    <td><%= site.cloud_records.count %></td>
    <td><%= @blahBySite[site.id] %></td>
    <td><%= @torqueBySite[site.id] %></td>
    <td><%= @emiStorageBySite[site.name] %></td>
    <td><%= link_to 'Edit', edit_site_path(site) %></td>
    <td><%= link_to 'Destroy', site, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


