<p id="notice"><%= notice %></p>

<H2>
  <b>Site:</b>
  <%= @site.name %>
</H2>

<p>
  <b>Description:</b>
  <%= @site.description %>
</p>
<table>
	<tr>
<td>		
<H3>Registered resources</H3>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Resource type</th>
  </tr>

<% @site.resources.sort_by{|e| e[:name]}.each do |resource| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td class="main_field"><%= link_to resource.name, resource %></td>
    <td><%= resource.description %></td>
    <td><%= resource.resource_type.name %></td>
  </tr>
<% end %>
</table>
</td>
<td>
<h3>Record statistics</h3>

<table>
	<tr>
		<th></th>
		<th>Count</th>
		<th>Earliest</th>
		<th>Latest</th>
	</tr>
	<% @stats.sort_by{|e| e[0]}.each do |row| %>
	<tr class="<%= cycle("odd", "even") %>">
      <td class="main_field"><%= row[0] %></td>
      <td><%= row[1] %></td>
      <td><%= row[2] %></td>
      <td><%= row[3] %></td>
    </tr>
    <% end %>
</table>
</td>
</tr>
</table>
<p>
<iframe src="<%= Rails.configuration.grafanaUrl %>/#/dashboard/script/site-show.js?interactive=false&siteName=<%=@site.name%>&grid=true&cloud=true" width=1280 height=1024 seamless>
</p>


<p>
<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
</p>
