<%= form_for(@emi_compute_accounting_record) do |f| %>
  <% if @emi_compute_accounting_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emi_compute_accounting_record.errors.count, "error") %> prohibited this emi_compute_accounting_record from being saved:</h2>

      <ul>
      <% @emi_compute_accounting_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recordId %><br />
    <%= f.text_field :recordId %>
  </div>
  <div class="field">
    <%= f.label :createTime %><br />
    <%= f.datetime_select :createTime %>
  </div>
  <div class="field">
    <%= f.label :globalJobId %><br />
    <%= f.text_field :globalJobId %>
  </div>
  <div class="field">
    <%= f.label :localJobId %><br />
    <%= f.text_field :localJobId %>
  </div>
  <div class="field">
    <%= f.label :localUserId %><br />
    <%= f.text_field :localUserId %>
  </div>
  <div class="field">
    <%= f.label :globalUserName %><br />
    <%= f.text_field :globalUserName %>
  </div>
  <div class="field">
    <%= f.label :charge %><br />
    <%= f.text_field :charge %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :queue %><br />
    <%= f.text_field :queue %>
  </div>
  <div class="field">
    <%= f.label :group %><br />
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <%= f.label :jobName %><br />
    <%= f.text_field :jobName %>
  </div>
  <div class="field">
    <%= f.label :ceCertificateSubject %><br />
    <%= f.text_field :ceCertificateSubject %>
  </div>
  <div class="field">
    <%= f.label :wallDuration %><br />
    <%= f.text_field :wallDuration %>
  </div>
  <div class="field">
    <%= f.label :cpuDuration %><br />
    <%= f.text_field :cpuDuration %>
  </div>
  <div class="field">
    <%= f.label :endTime %><br />
    <%= f.datetime_select :endTime %>
  </div>
  <div class="field">
    <%= f.label :startTime %><br />
    <%= f.datetime_select :startTime %>
  </div>
  <div class="field">
    <%= f.label :machineName %><br />
    <%= f.text_field :machineName %>
  </div>
  <div class="field">
    <%= f.label :projectName %><br />
    <%= f.text_field :projectName %>
  </div>
  <div class="field">
    <%= f.label :ceHost %><br />
    <%= f.text_field :ceHost %>
  </div>
  <div class="field">
    <%= f.label :execHost %><br />
    <%= f.text_field :execHost %>
  </div>
  <div class="field">
    <%= f.label :physicalMemory %><br />
    <%= f.text_field :physicalMemory %>
  </div>
  <div class="field">
    <%= f.label :virtualMemory %><br />
    <%= f.text_field :virtualMemory %>
  </div>
  <div class="field">
    <%= f.label :serviceLevelIntBench %><br />
    <%= f.text_field :serviceLevelIntBench %>
  </div>
  <div class="field">
    <%= f.label :serviceLevelIntBenchType %><br />
    <%= f.text_field :serviceLevelIntBenchType %>
  </div>
  <div class="field">
    <%= f.label :serviceLevelFloatBench %><br />
    <%= f.text_field :serviceLevelFloatBench %>
  </div>
  <div class="field">
    <%= f.label :serviceLevelFloatBenchType %><br />
    <%= f.text_field :serviceLevelFloatBenchType %>
  </div>
  <div class="field">
    <%= f.label :timeInstantCtime %><br />
    <%= f.datetime_select :timeInstantCtime %>
  </div>
  <div class="field">
    <%= f.label :timeInstantQTime %><br />
    <%= f.datetime_select :timeInstantQTime %>
  </div>
  <div class="field">
    <%= f.label :timeInstantETime %><br />
    <%= f.datetime_select :timeInstantETime %>
  </div>
  <div class="field">
    <%= f.label :dgasAccountingProcedure %><br />
    <%= f.text_field :dgasAccountingProcedure %>
  </div>
  <div class="field">
    <%= f.label :vomsFQAN %><br />
    <%= f.text_field :vomsFQAN %>
  </div>
  <div class="field">
    <%= f.label :voOrigin %><br />
    <%= f.text_field :voOrigin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
