<h1>EMI compute records</h1>

<table>
  <tr>
    <th>Recordid</th>
    <th>Createtime</th>
    <th>Globaljobid</th>
    <th>Localjobid</th>
    <th>Localuserid</th>
    <th>Globalusername</th>
    <th>Charge</th>
    <th>Status</th>
    <th>Queue</th>
    <th>Group</th>
    <th>Jobname</th>
    <th>Cecertificatesubject</th>
    <th>Wallduration</th>
    <th>Cpuduration</th>
    <th>Endtime</th>
    <th>Starttime</th>
    <th>Machine Name</th>
    <th>Project</th>
    <th>Cehost</th>
    <th>Exechost</th>
    <th>Physicalmemory</th>
    <th>Virtualmemory</th>
    <th>Int Bench</th>
    <th>Float Bench</th>
    <th>ctime</th>
    <th>qtime</th>
    <th>etime</th>
    <th>Accounting Procedure</th>
    <th>Voms FQAN</th>
    <th>Vo Origin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emi_compute_accounting_records.each do |emi_compute_accounting_record| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= emi_compute_accounting_record.recordId %></td>
    <td><%= emi_compute_accounting_record.createTime %></td>
    <td><%= emi_compute_accounting_record.globalJobId %></td>
    <td><%= emi_compute_accounting_record.localJobId %></td>
    <td><%= emi_compute_accounting_record.localUserId %></td>
    <td><%= emi_compute_accounting_record.globalUserName %></td>
    <td><%= emi_compute_accounting_record.charge %></td>
    <td><%= emi_compute_accounting_record.status %></td>
    <td><%= emi_compute_accounting_record.queue %></td>
    <td><%= emi_compute_accounting_record.group %></td>
    <td><%= emi_compute_accounting_record.jobName %></td>
    <td><%= emi_compute_accounting_record.ceCertificateSubject %></td>
    <td><%= emi_compute_accounting_record.wallDuration %></td>
    <td><%= emi_compute_accounting_record.cpuDuration %></td>
    <td><%= emi_compute_accounting_record.endTime %></td>
    <td><%= emi_compute_accounting_record.startTime %></td>
    <td><%= emi_compute_accounting_record.machineName %></td>
    <td><%= emi_compute_accounting_record.projectName %></td>
    <td><%= emi_compute_accounting_record.ceHost %></td>
    <td><%= emi_compute_accounting_record.execHost %></td>
    <td><%= emi_compute_accounting_record.physicalMemory %></td>
    <td><%= emi_compute_accounting_record.virtualMemory %></td>
    <td><%= emi_compute_accounting_record.serviceLevelIntBench %> <%= emi_compute_accounting_record.serviceLevelIntBenchType %></td>
    <td><%= emi_compute_accounting_record.serviceLevelFloatBench %> <%= emi_compute_accounting_record.serviceLevelFloatBenchType %></td>
    <td><%= emi_compute_accounting_record.timeInstantCtime %></td>
    <td><%= emi_compute_accounting_record.timeInstantQTime %></td>
    <td><%= emi_compute_accounting_record.timeInstantETime %></td>
    <td><%= emi_compute_accounting_record.dgasAccountingProcedure %></td>
    <td><%= emi_compute_accounting_record.vomsFQAN %></td>
    <td><%= emi_compute_accounting_record.voOrigin %></td>
    <td><%= link_to 'Show', emi_compute_accounting_record %></td>
    <td><%= link_to 'Edit', edit_emi_compute_accounting_record_path(emi_compute_accounting_record) %></td>
    <td><%= link_to 'Destroy', emi_compute_accounting_record, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= will_paginate @cloud_records %></p>
