<p id="notice"><%= notice %></p>

<p>
  <b>Recordid:</b>
  <%= @emi_compute_accounting_record.recordId %>
</p>

<p>
  <b>Createtime:</b>
  <%= @emi_compute_accounting_record.createTime %>
</p>

<p>
  <b>Globaljobid:</b>
  <%= @emi_compute_accounting_record.globalJobId %>
</p>

<p>
  <b>Localjobid:</b>
  <%= @emi_compute_accounting_record.localJobId %>
</p>

<p>
  <b>Localuserid:</b>
  <%= @emi_compute_accounting_record.localUserId %>
</p>

<p>
  <b>Globalusername:</b>
  <%= @emi_compute_accounting_record.globalUserName %>
</p>

<p>
  <b>Charge:</b>
  <%= @emi_compute_accounting_record.charge %>
</p>

<p>
  <b>Status:</b>
  <%= @emi_compute_accounting_record.status %>
</p>

<p>
  <b>Queue:</b>
  <%= @emi_compute_accounting_record.queue %>
</p>

<p>
  <b>Group:</b>
  <%= @emi_compute_accounting_record.group %>
</p>

<p>
  <b>Jobname:</b>
  <%= @emi_compute_accounting_record.jobName %>
</p>

<p>
  <b>Cecertificatesubject:</b>
  <%= @emi_compute_accounting_record.ceCertificateSubject %>
</p>

<p>
  <b>Wallduration:</b>
  <%= @emi_compute_accounting_record.wallDuration %>
</p>

<p>
  <b>Cpuduration:</b>
  <%= @emi_compute_accounting_record.cpuDuration %>
</p>

<p>
  <b>Endtime:</b>
  <%= @emi_compute_accounting_record.endTime %>
</p>

<p>
  <b>Starttime:</b>
  <%= @emi_compute_accounting_record.startTime %>
</p>

<p>
  <b>Machinename:</b>
  <%= @emi_compute_accounting_record.machineName %>
</p>

<p>
  <b>Projectname:</b>
  <%= @emi_compute_accounting_record.projectName %>
</p>

<p>
  <b>Cehost:</b>
  <%= @emi_compute_accounting_record.ceHost %>
</p>

<p>
  <b>Exechost:</b>
  <%= @emi_compute_accounting_record.execHost %>
</p>

<p>
  <b>Physicalmemory:</b>
  <%= @emi_compute_accounting_record.physicalMemory %>
</p>

<p>
  <b>Virtualmemory:</b>
  <%= @emi_compute_accounting_record.virtualMemory %>
</p>

<p>
  <b>Servicelevelintbench:</b>
  <%= @emi_compute_accounting_record.serviceLevelIntBench %>
</p>

<p>
  <b>Servicelevelintbenchtype:</b>
  <%= @emi_compute_accounting_record.serviceLevelIntBenchType %>
</p>

<p>
  <b>Servicelevelfloatbench:</b>
  <%= @emi_compute_accounting_record.serviceLevelFloatBench %>
</p>

<p>
  <b>Servicelevelfloatbenchtype:</b>
  <%= @emi_compute_accounting_record.serviceLevelFloatBenchType %>
</p>

<p>
  <b>Timeinstantctime:</b>
  <%= @emi_compute_accounting_record.timeInstantCtime %>
</p>

<p>
  <b>Timeinstantqtime:</b>
  <%= @emi_compute_accounting_record.timeInstantQTime %>
</p>

<p>
  <b>Timeinstantetime:</b>
  <%= @emi_compute_accounting_record.timeInstantETime %>
</p>

<p>
  <b>Dgasaccountingprocedure:</b>
  <%= @emi_compute_accounting_record.dgasAccountingProcedure %>
</p>

<p>
  <b>Vomsfqan:</b>
  <%= @emi_compute_accounting_record.vomsFQAN %>
</p>

<p>
  <b>Voorigin:</b>
  <%= @emi_compute_accounting_record.voOrigin %>
</p>


<%= link_to 'Edit', edit_emi_compute_accounting_record_path(@emi_compute_accounting_record) %> |
<%= link_to 'Back', emi_compute_accounting_records_path %>
