<%= form_for(@blah_record) do |f| %>
  <% if @blah_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blah_record.errors.count, "error") %> prohibited this blah_record from being saved:</h2>

      <ul>
      <% @blah_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uniqueId %><br />
    <%= f.text_field :uniqueId %>
  </div>
  <div class="field">
    <%= f.label :recordDate %><br />
    <%= f.datetime_select :recordDate %>
  </div>
  <div class="field">
    <%= f.label :timestamp %><br />
    <%= f.datetime_select :timestamp %>
  </div>
  <div class="field">
    <%= f.label :userDN %><br />
    <%= f.text_field :userDN %>
  </div>
  <div class="field">
    <%= f.label :userFQAN %><br />
    <%= f.text_field :userFQAN %>
  </div>
  <div class="field">
    <%= f.label :ceId %><br />
    <%= f.text_field :ceId %>
  </div>
  <div class="field">
    <%= f.label :jobId %><br />
    <%= f.text_field :jobId %>
  </div>
  <div class="field">
    <%= f.label :lrmsId %><br />
    <%= f.text_field :lrmsId %>
  </div>
  <div class="field">
    <%= f.label :localUser %><br />
    <%= f.number_field :localUser %>
  </div>
  <div class="field">
    <%= f.label :clientId %><br />
    <%= f.text_field :clientId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
