<p id="notice"><%= notice %></p>

<p>
  <b>Uniqueid:</b>
  <%= @blah_record.uniqueId %>
</p>

<p>
  <b>Recorddate:</b>
  <%= @blah_record.recordDate %>
</p>

<p>
  <b>Timestamp:</b>
  <%= @blah_record.timestamp %>
</p>

<p>
  <b>Userdn:</b>
  <%= @blah_record.userDN %>
</p>

<p>
  <b>Userfqan:</b>
  <%= @blah_record.userFQAN %>
</p>

<p>
  <b>Ceid:</b>
  <%= @blah_record.ceId %>
</p>

<p>
  <b>Jobid:</b>
  <%= @blah_record.jobId %>
</p>

<p>
  <b>Lrmsid:</b>
  <%= @blah_record.lrmsId %>
</p>

<p>
  <b>Localuser:</b>
  <%= @blah_record.localUser %>
</p>

<p>
  <b>Clientid:</b>
  <%= @blah_record.clientId %>
</p>


<%= link_to 'Edit', edit_blah_record_path(@blah_record) %> |
<%= link_to 'BLAH records', blah_records_path %> |
<%= link_to 'Grid CPU records', grid_cpu_records_path %>
