<!DOCTYPE html>
<html>
	<head>
		<script src='http://www.google.com/jsapi'></script>
		<title>AccountingService</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body id ="faust">
		<table class="header">
			<tr>
				<td class="logo"><%= link_to 'F.A.U.S.T.', main_url%></td>
				<td> <% if session[:user_id] %>
				<div id="menu">
					<table id="menu_table">
						<thead id="menu_head">
							<th>Logged in as: </th>
							<th class="menu_head_currentuser"><%= User.find_by_id(session[:user_id]).name %></th>
							<th>-</th>
							<% if session[:role] == 'admin' %>
							<th><%= link_to 'Users', users_url%></th>
							<th><%= link_to 'Resources', resource_management_index_url%></th>
							<th>-</th>
							<% end %>
							<th><%= link_to 'Cloud', stats_cloud_records_url%></th>
							<th><%= link_to 'Grid cpu', stats_grid_cpu_records_url%></th>
							<th><%= link_to 'Local cpu', local_cpu_records_url%></th>
							<th><%= link_to 'Storage', emi_storage_records_url%></th
							<th>-</th>
							<th><%= link_to 'Logout', logout_path, :method => :delete %></th>
						</thead>
					</table>
				</div> <% end %> 
				</td>
				<td>
					Help
				</td>	
			</tr>
		</table>

		<%= yield %>

	</body>
</html>
