<!DOCTYPE html>
<html>
<head>
  <title>AccountingService</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id ="faust">
	
	<div id="banner">
		<%= @page_title || "F.A.U.S.T" %>
	
	<% if session[:user_id] %>
	<div id="menu">
		<table id="menu_table">
			<thead id="menu_head">
				<th>Logged in as: <%= User.find_by_id(session[:user_id]).name %></th>
				<th><%= link_to 'Main', main_url%></th>
				<th><%= link_to 'Users', users_url%></th>
				<th><%= link_to 'Publishers', publishers_url%></th>
				<th><%= link_to 'Resource Management', resource_management_index_url%></th>
				<th><%= link_to 'Cloud Records', stats_cloud_records_url%></th>
				<th><%= link_to 'Grid CPU Records', stats_emi_compute_accounting_records_url%></th>
				<th><%= link_to 'Storage Records', emi_storage_records_url%></th>
				<th><%= link_to 'Logout', logout_path, :method => :delete %></th>
			</thead>
		</table>
	</div>
	<% end %>
	</div>

<%= yield %>

</body>
</html>
