<!DOCTYPE html>
<html>
	<head>
		<script src='http://www.google.com/jsapi'></script>
		<title>FAUST</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body id ="faust">
	<div id="page">
		<div id="banner">
				<div id="logo"><%= link_to 'F.A.U.S.T.', main_url%></div>
			    <% if session[:user_id] %>
			    	<div id ="menu">
					<ul>
						<% if session[:role] == 'admin' %>
							<li><%= link_to 'Stats', main_index_url%></li>
							<li><%= link_to 'Users', users_url%></li>
							<li><%= link_to 'Resources', resource_management_index_url%></li>
						<% end %>
						<li><%= link_to 'Cloud', stats_cloud_records_url%></li>
						<li><%= link_to 'Grid cpu', stats_cpu_grid_norm_records_url%></li>
						<li><%= link_to 'Local cpu', stats_local_cpu_records_url%></li>
						<li><%= link_to 'Storage', stats_emi_storage_records_url%></li>
					</ul>	
					</div>
					<div id = "user" >
					<ul>		
					 	<li>Logged in as: <%= User.find_by_id(session[:user_id]).name %></li>
				      	<li><%= link_to 'Logout', logout_path, :method => :delete %></li>
				    </ul>
				    </div>
				<% end %>
		</div>
		<div id="columns">
			<div id="sideSection">
				<%=  render "side_bar" %>
			</div>	
				<div id="pageContainer">
					<%= yield %>
				</div>
		</div>
	</div>
	</body>
</html>
